[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/plathrop/puppet-module-apache.git
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/camptocamp/puppet-php.git
[submodule "modules/percona"]
	path = modules/percona
	url = https://github.com/arioch/puppet-percona.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/camptocamp/puppet-apt.git
