[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/plathrop/puppet-module-apache.git
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/camptocamp/puppet-php.git
[submodule "modules/percona"]
	path = modules/percona
	url = git@github.com:flyapen/puppet-percona.git
[submodule "modules/memcached"]
	path = modules/memcached
	url = https://github.com/saz/puppet-memcached.git
[submodule "modules/common"]
	path = modules/common
	url = https://github.com/camptocamp/puppet-common.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/camptocamp/puppet-apt.git
